body {
    background-color: powderblue;
}
#message {
    color: blue;
    font-size: 3em;
    text-align: center;
}

/* $breakpoints: (
        xs: 564,
        md: 768,
        lg: 992,
        xl: 1200
    );

$font_Map:(
  xs:(
    font-size: (1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,17px,18px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,31px,32px,33px,34px,35px,36px,37px,38px,39px,40px,41px,42px,43px,44px,45px,46px,47px,48px,49px,50px),
  ),
  md:(
    font-size: (1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,17px,18px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,31px,32px,33px,34px,35px,36px,37px,38px,39px,40px,41px,42px,43px,44px,45px,46px,47px,48px,49px,50px),
  ),
  lg:(
    font-size: (1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,17px,18px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,31px,32px,33px,34px,35px,36px,37px,38px,39px,40px,41px,42px,43px,44px,45px,46px,47px,48px,49px,50px),
  ),
  xl:(
    font-size: (1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,17px,18px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px,28px,29px,30px,31px,32px,33px,34px,35px,36px,37px,38px,39px,40px,41px,42px,43px,44px,45px,46px,47px,48px,49px,50px),
  )
);
@mixin medias($map, $key) {
    @each $keyMap, $valueMap in $map {
      @media all and (min-width: map-get($valueMap, min-width)) {
          #{$key}: map-get($valueMap, $key);
      }   
    }
  }
  @include medias($font_Map, font-size);



  $colors:(
      youtube: #c1c1c1,
      article: #ffffff,
      community: #c2c2c2,
      course: #49c4a3,
  );

  @each $name, $color in $colors{
      
  } */
